div.jumbotron,
footer,
footer a {
    background-color: #52ce2c;
    color: #e2e2e2;
}

a {
    display: block;
    width: 100px;
    color: aliceblue;
}

li {
    display: inline;
}

li {
    float: left;
}